pipeline/Lego.json
{
	"name": "Lego",
	"properties": {
		"activities": [
			{
				"name": "Copy data for each file from Config table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Select the config table values",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Select the config table values').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Lego_Zipped_file_DS",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@concat(item().Filename, '.csv.gz')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Rebrickable_CSV_DS",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().FileName,'.csv')",
											"type": "Expression"
										},
										"DatasetName": {
											"value": "@item().DatasetName",
											"type": "Expression"
										},
										"SourceName": {
											"value": "@item().SourceName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Select the config table values",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceQuery": "SourceName eq 'LEGO'",
						"azureTableSourceIgnoreTableNotFound": false
					},
					"dataset": {
						"referenceName": "Rebrickable_Config_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}